
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Components
@import "components/video";

// Vendor
@import "vendor/videojs";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
